<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RJ senac
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RJ senac</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input placeholder="Entre com seu nome" > </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>CPF</ion-label>
    <ion-input placeholder="Entre com seu CPF" > </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>e-mail</ion-label>
    <ion-input placeholder="Entre com seu e-mail" > </ion-input>
  </ion-item>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>First Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        First Content
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Second Content
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-card>
  <ion-card-header>
    <ion-card-title>Ionic</ion-card-title>
    <ion-card-subtitle>Treinando Ionic</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Card de teste para app           
  </ion-card-content>
</ion-card>

  </ion-content>
  

  <app-explore-container name="Tab 1 page"></app-explore-container>

  

